body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

nav{
    margin-top: 5px;
    display: flex;
    height: 50px;
    background: rgb(24,24,24);
    background: linear-gradient(180deg, rgb(51, 51, 51) 0%, rgba(78,78,78,1) 50%, rgba(180,180,180,1) 100%); 
    border-radius: 20px ;
    border: none;
    align-items: center;
    justify-content: space-evenly;
}

.navElement{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    font-size: 2rem;
    border-right: 2px solid black;
    transition: background-color 0.3s;
}
.item-6{
    border: none;
}
.home{
    width: 10%;
    border-start-start-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(118, 118, 255);
}
a{
    text-decoration: none;
    color: white;
}
.navElement:hover{
    background-color: rgb(129, 129, 129);
}