body{
    background-color: gray;
    margin: 0;
}
.container{
    display: flex;
    background-color: white;
    height: 100px;
}
.container > div{
    flex: 1;
    height: 100%;
}
.picture{
    background-color: blueviolet;
}